![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [73]:
ejer_1 = [1,2,3,4,5]
ejer_1.sort(reverse=True)
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [74]:
ejer_2 = [1,2,3,4,5]

for i in ejer_2:
    print(i*i, end=",")

1,4,9,16,25,

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [75]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
lista_union = []
for i in ejer_3_1:
    for x in ejer_3_2:
        lista_union.append(i + " " + x)
print(lista_union)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [76]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

indice_45 = ejer_4.index(45) #me da la posición donde se encuentra 45

ejer_4[indice_45] = 0 #cambia el valor del 45 por 0

print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

Consejo: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [77]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
copia = ejer_5.copy()
posiciones = []

for i in copia:
    if i != 3:
        posiciones.append(i)
print(posiciones)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [78]:
#1.
tupla = (3,5,"patata")
#2.
tupla_2=(7.8,)
print(type(tupla_2[0]))
#3.
tupla_3 = (3,5,"patata")
#4.
print(tupla_3[0])
print(tupla_3[len(tupla_3) - 1])
#5.
"No se puede añadir un elemento a la tupla pero podemos hacer un truqui:"
tupla_3_bis = ("camila",) + tupla_3
print(tupla_3_bis)
#6. 
"No se puede eliminar un elemento directamente de la tupla pero podemos hacer un truqui"
lista = list(tupla_3_bis)
print(lista)
lista.remove(5)
print(lista)
tupla_4 =tuple(lista)
#7.
lista_2=list(tupla_3_bis)
print(lista_2)

<class 'float'>
3
patata
('camila', 3, 5, 'patata')
['camila', 3, 5, 'patata']
['camila', 3, 'patata']
['camila', 3, 5, 'patata']

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [79]:
ejer_7 = ("cien", "cañones", "por", "banda")
frase = " ".join(ejer_7)
print(frase)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [80]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [81]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
num_3 = 0

for i in ejer_9:
    if i == 3:
        num_3 += 1
print("En la tupla, el numero 3 aparece:", num_3, "veces") 

ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
tupla_nueva = ejer_9[4:10]
print(tupla_nueva)

ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
conteo = len(ejer_9)
print(conteo)

En la tupla, el numero 3 aparece: 7 veces
(19, 3, 29, 45, 67, 78)
26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [82]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
num_60=0

for i in ejer_9:
    if 1 == 60:
        num_60 +=1
print("El numero 60 está", num_60, "veces en la tupla del ejercicio 9")

El numero 60 está 0 veces en la tupla del ejercicio 9

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [83]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
lista_9 = list(ejer_9)
print(lista_9)
set_9 = set(ejer_9)
print(set_9)
diccionario_9 = {}
for indice, valor in enumerate(ejer_9):
    diccionario_9[indice] = valor
print(diccionario_9)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [84]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccionario_10 ={}

for clave, valor in ejer_12:
    if clave in diccionario_10:
        diccionario_10[clave].append(valor)
    else:
        diccionario_10[clave] = [valor]
print(diccionario_10)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [85]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}
#1. 
claves_asc = sorted(ejer_13.keys())
print(claves_asc)
#2.
valores_desc = sorted(ejer_13.values(), reverse=True)
print(valores_desc)
#3.
ejer_13[10] = 100
print(ejer_13)
#4.
if 2 in ejer_13:
    print("La clave 2 está en el diccionario")
else:
    print("La clave 2 no está")
#5.
for clave, valor in ejer_13.items():
    print(f"Clave: {clave} → Valor: {valor}")

[2, 4, 5, 8]
[234, 98, 78, 29]
{4: 78, 2: 98, 8: 234, 5: 29, 10: 100}
La clave 2 está en el diccionario
Clave: 4 → Valor: 78
Clave: 2 → Valor: 98
Clave: 8 → Valor: 234
Clave: 5 → Valor: 29
Clave: 10 → Valor: 100

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [86]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)
print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [87]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
suma_valores = sum(ejer_15.values())
print(suma_valores)

165

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [88]:
#1. 
mi_set = {1, 2, 3}
print(mi_set)
#2.
mi_set.add(4)
print(mi_set)
#3.
mi_set.remove(4)
print(mi_set)
#4.
mi_set.discard(10)
print(mi_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3}